BODY {
	SCROLLBAR-FACE-COLOR: #dc0000; FONT-SIZE: 10px; MARGIN: 0px; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #c8c8c8; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #c8c8c8; FONT-FAMILY: verdana; SCROLLBAR-DARKSHADOW-COLOR: #c8c8c8; BACKGROUND-COLOR: #000000
}
BODY.plain {
	SCROLLBAR-FACE-COLOR: #dc0000; FONT-SIZE: 10px; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #c8c8c8; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #c8c8c8; FONT-FAMILY: verdana; SCROLLBAR-DARKSHADOW-COLOR: #c8c8c8; BACKGROUND-COLOR: #ffffff
}
SPAN.forumtext {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana
}
SPAN.kcm {
	FONT-SIZE: 10px; COLOR: #0000ff; FONT-FAMILY: verdana
}
SPAN.hl {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #dc0000; FONT-FAMILY: verdana
}
SPAN.hlb {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0000ff; FONT-FAMILY: verdana
}
SPAN.hlg {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #008000; FONT-FAMILY: verdana
}
SPAN.uhl {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #f0f0f0; FONT-FAMILY: verdana
}
SPAN.numlist {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: verdana
}
DIV.errmsg {
	COLOR: #dc0000
}
DIV.headline1 {
	FONT-WEIGHT: bold; COLOR: #dc0000
}
DIV.forumtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dc0000
}
IMG.border {
	BORDER-RIGHT: #c8c8c8 1px dotted; BORDER-TOP: #c8c8c8 1px dotted; BORDER-LEFT: #c8c8c8 1px dotted; BORDER-BOTTOM: #c8c8c8 1px dotted
}
IMG.blank {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; BORDER-LEFT: #ffffff 0px solid; BORDER-BOTTOM: #ffffff 0px solid
}
DIV.hr {
	BACKGROUND-IMAGE: url(hr.gif); HEIGHT: 4px; BACKGROUND-COLOR: #ffffff
}
DIV.hr HR {
	DISPLAY: none; WIDTH: 100%
}
TD {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana
}
TD.tdmain {
	BACKGROUND: url(mainback.gif) #ffffff fixed no-repeat 25% 100%
}
SELECT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana
}
TEXTAREA {
	FONT-SIZE: 10px; FONT-FAMILY: verdana
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #dc0000; FONT-FAMILY: verdana; FONT-VARIANT: small-caps
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #dc0000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A:link {
	COLOR: #dc0000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
A:hover {
	COLOR: #dc0000; TEXT-DECORATION: underline
}
A.blue:link {
	FONT-WEIGHT: bold; COLOR: #0000dc; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-WEIGHT: bold; COLOR: #0000dc; TEXT-DECORATION: none
}
A.blue:hover {
	FONT-WEIGHT: bold; COLOR: #0000dc; TEXT-DECORATION: underline
}
A.purple:link {
	FONT-WEIGHT: bold; COLOR: #800080; TEXT-DECORATION: none
}
A.purple:visited {
	FONT-WEIGHT: bold; COLOR: #800080; TEXT-DECORATION: none
}
A.purple:hover {
	FONT-WEIGHT: bold; COLOR: #800080; TEXT-DECORATION: underline
}
A.green:link {
	FONT-WEIGHT: bold; COLOR: #008000; TEXT-DECORATION: none
}
A.green:visited {
	FONT-WEIGHT: bold; COLOR: #008000; TEXT-DECORATION: none
}
A.green:hover {
	FONT-WEIGHT: bold; COLOR: #008000; TEXT-DECORATION: underline
}
