BODY {
	COLOR: #a0a0a0; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #000000
}
P {
	MARGIN-TOP: 10px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #a0a0a0; LINE-HEIGHT: 120%; FONT-FAMILY: Arial, sans-serif
}
A {
	COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
A.hover {
	COLOR: #bb0000
}
