a:link, a:visited {  color: #6666FF; text-decoration: none; }
a:hover { color: #000099; text-decoration: underline; }
h1 {  font-family: Arial, Helvetica, sans-serif; color: #000000}
p {  font-family: Arial, Helvetica, sans-serif; color: #000000; font-size: x-small}
td {  font-family: Arial, Helvetica, sans-serif; font-size: x-small}
li {  font-family: Arial, Helvetica, sans-serif; font-size: x-small}
body {background-color: #ffffff;}
