A:link {
	BACKGROUND-COLOR: transparent; COLOR: #ffb14d; TEXT-DECORATION: none
}
A:visited {
	BACKGROUND-COLOR: transparent; COLOR: #ffb14d; TEXT-DECORATION: none
}
A:hover {
	BACKGROUND-COLOR: transparent; COLOR: #fecc92; TEXT-DECORATION: underline
}
A:active {
	BACKGROUND-COLOR: transparent; COLOR: #ffb14d; TEXT-DECORATION: none
}
BLOCKQUOTE {
	BORDER-BOTTOM: #efbe87 1px solid; BORDER-LEFT: #efbe87 1px solid; BORDER-RIGHT: #efbe87 1px solid; BORDER-TOP: #efbe87 1px solid; FONT-SIZE: 9pt; MARGIN: 0px 10px; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px; WIDTH: 100%
}
BLOCKQUOTE .small {
	BACKGROUND-COLOR: #efbe87; COLOR: #000000; MARGIN-LEFT: -10px; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 1px
}
BLOCKQUOTE BR {
	FONT-SIZE: 1px
}
BLOCKQUOTE HR {
	HEIGHT: 1px; VISIBILITY: hidden
}
BODY {
	BACKGROUND-COLOR: #28282c; COLOR: #a8a8a8; FONT-SIZE: 11px; scrollbar-arrow-color: #000000; scrollbar-base-color: #C07018; scrollbar-track-color: #313134
}
BODY {
	COLOR: #a8a8a8; FONT-FAMILY: verdana, helvetica, sans-serif; FONT-SIZE: 11px
}
P {
	COLOR: #a8a8a8; FONT-FAMILY: verdana, helvetica, sans-serif; FONT-SIZE: 11px
}
TABLE {
	COLOR: #a8a8a8; FONT-FAMILY: verdana, helvetica, sans-serif; FONT-SIZE: 11px
}
TD {
	COLOR: #a8a8a8; FONT-FAMILY: verdana, helvetica, sans-serif; FONT-SIZE: 11px
}
TR {
	COLOR: #a8a8a8; FONT-FAMILY: verdana, helvetica, sans-serif; FONT-SIZE: 11px
}
FORM {
	DISPLAY: inline; MARGIN-BOTTOM: 0px
}
PRE {
	BORDER-BOTTOM: #efbe87 1px solid; BORDER-LEFT: #efbe87 1px solid; BORDER-RIGHT: #efbe87 1px solid; BORDER-TOP: #efbe87 1px solid; FONT-SIZE: 9pt; MARGIN: 0px 20px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
SELECT {
	BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-SIZE: 10px
}
.alternatetable {
	BACKGROUND-COLOR: #424242; COLOR: #ffffff
}
.buttons {
	BACKGROUND-COLOR: #4a6fa4; BORDER-BOTTOM: #24407c 1px solid; BORDER-LEFT: #abb5d1 1px solid; BORDER-RIGHT: #24407c 1px solid; BORDER-TOP: #abb5d1 1px solid; COLOR: #f9cf82; FONT-SIZE: 11px
}
.catandforum {
	BACKGROUND-COLOR: transparent; FONT-SIZE: 11px
}
.cleartable {
	BACKGROUND-COLOR: transparent
}
.darktable {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #ffffff
}
.footertable {
	BACKGROUND-COLOR: #ffffff
}
.formboxes {
	BACKGROUND-COLOR: #000000; BORDER-BOTTOM: #ffb14d 1px solid; BORDER-LEFT: #ffb14d 1px solid; BORDER-RIGHT: #ffb14d 1px solid; BORDER-TOP: #ffb14d 1px solid; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial; FONT-SIZE: 12px
}
.forumdescript {
	COLOR: #ffffff
}
.forumtitle {
	COLOR: #fecc92
}
.lighttable {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #ffffff
}
.menubar {
	BACKGROUND-COLOR: transparent; COLOR: #abb5d1; FONT-SIZE: 11px
}
.modcolumn {
	BACKGROUND-COLOR: #424245; COLOR: #424242; FONT-SIZE: 11px
}
.navigation {
	BACKGROUND-COLOR: #000000; BORDER-BOTTOM: #454547 1px solid; BORDER-LEFT: #454547 1px solid; BORDER-RIGHT: #454547 1px solid; BORDER-TOP: #454547 1px solid; COLOR: #666666; FONT-SIZE: 10px; TEXT-ALIGN: center
}
.new {
	COLOR: #ff0000; FONT-SIZE: 10px
}
.newdarktable {
	BACKGROUND-COLOR: #000000; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #4a6fa4; FONT-WEIGHT: bold
}
.newlighttable {
	BACKGROUND-COLOR: #000000; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #4a6fa4; FONT-WEIGHT: bold
}
.newpostsincat {
	BACKGROUND-COLOR: #ffb14d; COLOR: #000000
}
.onbody {
	BACKGROUND-COLOR: transparent; COLOR: #ffffff
}
.onbody A:link {
	BACKGROUND-COLOR: transparent; COLOR: #f6a247
}
.onbody A:visited {
	BACKGROUND-COLOR: transparent; COLOR: #a8a8a8
}
.onbody A:active {
	BACKGROUND-COLOR: transparent; COLOR: #800000
}
.pollcolor {
	BACKGROUND-COLOR: #ff0000; COLOR: #ffffff
}
.poll-border {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #865123 1px solid; BORDER-LEFT: #865123 1px solid; BORDER-RIGHT: #865123 1px solid; BORDER-TOP: #865123 1px solid; COLOR: #b16f36; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.post {
	BACKGROUND-COLOR: transparent; COLOR: #ffffff; FONT-SIZE: 12px
}
.post:first-letter {
	
}
.post:first-line {
	
}
.post-color {
	BACKGROUND-COLOR: #1f1f22; COLOR: #ffffff
}
.post-color-a {
	BACKGROUND-COLOR: #424242; COLOR: #ffffff
}
.post-color-1 {
	BACKGROUND-COLOR: #28282c; COLOR: #ffffff
}
.posted-by {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.post-footer {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 0px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 1px solid; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.post-icon {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 0px solid; BORDER-LEFT: #845122 1px solid; BORDER-RIGHT: #845122 1px solid; BORDER-TOP: #845122 1px solid; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.postrow {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #865123 1px solid; BORDER-LEFT: #865123 0px solid; BORDER-RIGHT: #865123 0px solid; BORDER-TOP: #865123 0px solid; COLOR: #ffffff
}
.posttime {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #ffffff
}
.post-title {
	COLOR: #ffffff; FONT-SIZE: 11px
}
.posttotal {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #ffffff
}
.preview {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 2px solid; BORDER-LEFT: #845122 2px solid; BORDER-RIGHT: #845122 2px solid; BORDER-TOP: #845122 2px solid
}
.signature {
	COLOR: #cccccc; FONT-SIZE: 10px
}
.small {
	BACKGROUND-COLOR: transparent; COLOR: #ffffff
}
.staff {
	BACKGROUND-COLOR: #000033; COLOR: #ffffff
}
.standouttext {
	BACKGROUND-COLOR: transparent; COLOR: #ff0000
}
.subjecttable {
	BACKGROUND-COLOR: transparent; COLOR: #ffffff
}
.tableborders {
	BACKGROUND-COLOR: transparent
}
.tablesurround {
	
}
.tdheader {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #ffb15d 1px solid; BORDER-LEFT: #ffb15d 0px solid; BORDER-RIGHT: #ffb15d 0px solid; BORDER-TOP: #ffb15d 0px solid; COLOR: #b16f36; FONT-SIZE: 11px
}
.threadtotal {
	BACKGROUND-COLOR: transparent; BORDER-BOTTOM: #845122 1px solid; BORDER-LEFT: #845122 0px solid; BORDER-RIGHT: #845122 0px solid; BORDER-TOP: #845122 0px solid; COLOR: #ffffff
}
.threaded-view {
	HEIGHT: 400px; OVERFLOW: auto; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px; WIDTH: 700px
}
