.main_font {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: verdana
}
.font_body {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana
}
.font_white {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana
}
.link:link {
	COLOR: #ffffff
}
.link:visited {
	COLOR: #ffffff
}
.link:active {
	COLOR: white
}
.link:hover {
	COLOR: gold
}
.font_small {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana
}
.link_blue:link {
	COLOR: gold
}
.link_blue:visited {
	COLOR: gold
}
.link_blue:active {
	COLOR: maroon
}
.link_blue:hover {
	COLOR: white; TEXT-DECORATION: none
}
.link_list:link {
	FONT-SIZE: 10pt; COLOR: gold; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
.link_list:visited {
	FONT-SIZE: 10pt; COLOR: #a1abb4; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
.link_list:active {
	FONT-SIZE: 10pt; COLOR: gold; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.link_list:hover {
	FONT-SIZE: 10pt; COLOR: gold; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.list_sidebar:link {
	FONT-SIZE: 8pt; COLOR: gold; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
.list_sidebar:visited {
	FONT-SIZE: 8pt; COLOR: #a1abb4; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
.list_sidebar:active {
	FONT-SIZE: 8pt; COLOR: gold; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.list_sidebar:hover {
	FONT-SIZE: 8pt; COLOR: gold; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.ugo_font {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: verdana
}
.ugo_font_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: verdana
}
.ugo_font_body {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana
}
.ugo_link:link {
	COLOR: #ffffff
}
.ugo_link:visited {
	COLOR: #ffffff
}
.ugo_link:active {
	COLOR: gold
}
.ugo_link:hover {
	COLOR: gold
}
.ugo_alink:link {
	COLOR: gold
}
.ugo_alink:visited {
	COLOR: gold
}
.ugo_alink:active {
	COLOR: gold
}
.ugo_alink:hover {
	COLOR: gold
}
.ugo_font_small {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana
}
.ugo_link_blue:link {
	COLOR: gold
}
.ugo_link_blue:visited {
	COLOR: gold
}
.ugo_link_blue:active {
	COLOR: red
}
.ugo_link_blue:hover {
	COLOR: #ffffff
}
.site_map_footer {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana
}
.site_map_footer:hover {
	COLOR: #cccccc
}
.site_map_footer:active {
	COLOR: #cccccc
}
.site_map_footer:link {
	COLOR: white
}
.site_map_footer:visited {
	COLOR: #cccccc
}
.masthead {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana
}
#td728 {
	BACKGROUND-COLOR: #a1abb4
}
#tdchannel {
	BACKGROUND-COLOR: #a1abb4
}
#tdmain {
	BACKGROUND-COLOR: #a1abb4
}
#trmasthead {
	BACKGROUND-COLOR: #000000
}
#trmain {
	BACKGROUND-COLOR: #566172
}
#tr2nd {
	BACKGROUND-COLOR: #323e53
}
#tr5th {
	BACKGROUND-COLOR: #000000
}
#bodybg {
	BACKGROUND-COLOR: #374458
}
#mainList {
	BACKGROUND-COLOR: #374458
}
#subList {
	BACKGROUND-COLOR: #374458
}
#listEdge {
	BACKGROUND-COLOR: #a1abb4
}
.buy_buddy {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana
}
.buy_buddy:hover {
	COLOR: gold
}
.buy_buddy:active {
	COLOR: red
}
.buy_buddy:link {
	COLOR: white
}
.buy_buddy:visited {
	COLOR: silver
}
.details_dropdown {
	FONT-SIZE: 10px; WIDTH: 295px; COLOR: #ffffff; FONT-FAMILY: verdana; BACKGROUND-COLOR: #677281
}
#samsung_ad {
	Z-INDEX: 1; LEFT: 475px; VISIBILITY: visible; WIDTH: 300px; POSITION: absolute; TOP: 0px; HEIGHT: 50px
}
