
@import url(//fonts.googleapis.com/css?family=Open+Sans);

	body {
	background: #1d1d1d url('/static/images/bg_cgsociety.jpg');
	margin-left:-1px;
	overflow-Y: scroll;
	}
	
	@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){ /*opera hack*/
	head~body *{ margin-left: -1px;}
	}
	
	#CGSheader {
	font-size:13px;
	line-height:30px;
	font:normal normal normal 11px 'Open Sans', arial, serif;
	width:100%;
	height:286px;
	background: url('/static/images/bg_cgsheader_xaxis2.jpg') repeat-x;
	}
	
	
	
/**** loginBar ****/
	
	#CGSheader #loginBar{
	font-size:11px;
	position:relative;
	height:30px;
	text-align:right;
	width:900px;
	margin:0 auto;
	}
	
	#CGSheader #loginBar, #CGSheader #loginBar a{
	outline:none;
	color:#7E7E7E;
	text-decoration:none;
	}
	
	#CGSheader #loginBar a:hover{
	color:#ccc;
	}
	
	#CGSheader #loginBar .memLinks, #CGSheader #loginBar .memLog, #CGSheader #loginBar .memNick, #CGSheader #loginBar .registerBtn{
	float:right;
	line-height:15px;
	margin-top:7px;
	}
	
	#CGSheader #loginBar .memLinks ul li{
	display:inline;
	}
	#CGSheader #loginBar .memLinks ul li a{
	outline:none;
	display:block;
	float:left;
	border-right:1px solid #7e7e7e;
	padding:0 10px;
	}
	
	#CGSheader #loginBar .memLog{
	padding-left:10px;
	}
	
	#CGSheader #loginBar .memLog a.logout {
	outline:none;
	padding-right:22px;
	background-image: url('/static/images/logout.png');
	background-repeat: no-repeat;
	background-position:right 0px;
	}
	
	#CGSheader #loginBar .memLog a.logout:hover {
	background-position:right -25px;
	}
	
	#CGSheader #loginBar .memNick{
	padding-right:10px;
	border-right:1px solid #7e7e7e;
	}
	
	#CGSheader #loginBar .memLog .loginLink{
	padding-left:10px;
	border-left:1px solid #7e7e7e;
	}
	
	#CGSheader #loginBar .registerBtn{
	margin-top:4px;
	}
	
	#CGSheader #loginBar .registerBtn a{
	display:block;
	outline:none;
	float:right;
	width:72px;
	height:21px;
	background-color:transparent;
	background-image: url('/static/images/btnRegister.gif');
	background-repeat:no-repeat;
	}
	
	#CGSheader #loginBar .registerBtn span{
	display:none;	
	}

	#CGSheader #loginBar .registerBtn a:hover{
	background-position: 0px -21px;;
	}
	
	#CGSheader #loginBar  .loginBox{
	display:none;
	position:absolute;
	right:30px;
	background:transparent url('/static/images/loginArrow.png') no-repeat right 0px;
	z-index:9999;
	}
	
	#CGSheader #loginBar  .loginBox div{
	background-color:#030303;
	padding:6px;
	margin-right:14px;
	}
	
	#CGSheader #loginBar  .loginBox div form{
	height:26px;
	display:block;
	}
	
	#CGSheader #loginBar  .loginBox #loginUser, #CGSheader #loginBar  .loginBox .loginPass{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;
	padding:0 5px;
	margin:0 7px 0 0;
	font-size:15px;
	color:#555;
	width:190px;
	height:22px;
	border:2px solid #D2D2D2;
	}
	
	#CGSheader #loginBar  .loginBox form .loginButton{
	float:left;
	height:26px;
	width:63px;
	background-color:transparent;
	background-image: url('/static/images/btnlogin.gif');
	background-repeat:no-repeat;
	border: 0;
	text-indent: -9999px;
	}
		
	#CGSheader #loginBar .loginBox form .loginButton:hover{
	background-position: 0px -26px;;
	}
	
	#CGSheader #loginBar  .loginBox form a.loginClose{
	float:left;
	display:block;
	padding:3px 7px 0 7px;
	text-decoration:none;
	color:#818181;
	font:normal normal 800 13px 'Open Sans', arial, serif;
	}
	
	#CGSheader #loginBar  .loginBox form a.loginClose:hover{
	color:#ccc;
	}
	
/**** Top of header ****/

	#CGSheader div.headerDetails{
	width:100%;
	height:256px;
	background: url('/static/images/details4.jpg') no-repeat center 0px ;
	}
	
	#CGSheader #headerArea{
	position:relative;
	height:256px;
	width:900px;
	margin:0 auto;
	}
	
	#CGSheader #headerArea #logo{
	position:absolute;
	top:30px;
	left:0;
	}
	
	#CGSheader #headerArea #logo a {
	outline:none;
	}
	
	#CGSheader #headerArea #logo #headertitle{
	width:274px;
	height:70px;
	background: url('/static/images/headerlogo.png') no-repeat top left;
	}
	
	#CGSheader #headerArea #logo #headertitle h1, 
	#CGSheader #headerArea #logo #headertitle h2{
	display:none;}
	
	
	#CGSheader #headerArea .headerSearch{
	position:absolute;
	top:34px;
	right:0;
	z-index:1000;
	}
	
	#CGSheader #headerArea .headerSearch .searchIcon{
	outline:none;
	display:block;
	float:right;
	margin-top:13px;
	}
	
	#CGSheader #headerArea .headerSearch .searchBox{
	display:none;
	position:relative;
	top:-3px;
	background: url('/static/images/searchshadow.png') no-repeat center 0px ;
	margin-right:20px;
	width:494px;
	height:49px;
	z-index:2000;
	}
	
	
	#CGSheader #headerArea .headerSearch .searchBox form a.searchClose{
	outline:none;
	float:left;
	display:block;
	padding:3px 0 0 7px;
	text-decoration:none;
	color:#818181;
	font:normal normal 800 13px 'Open Sans', arial, serif;
	}
	#CGSheader #headerArea .headerSearch .searchBox form a.searchClose:hover{
	color:#ccc;
	}
	
	#CGSheader #headerArea .headerSearch .searchBox form{
	display:block;
	z-index:3000;
	position:absolute;
	margin-top:3px;
	margin-left:3px;
	width:469px;
	height:27px;
	padding:8px 0;
	background-color:#060606;
	}
	
	#CGSheader #headerArea .headerSearch .searchBox form .searchField{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;
	padding:0 5px;
	margin:0 7px;
	font-size:15px;
	color:#555;
	width:336px;
	height:22px;
	border:2px solid #D2D2D2;
	}
	
	#CGSheader #headerArea .headerSearch .searchBox form .searchButton{
	float:left;
	height:26px;
	width:74px;
	background-color:transparent;
	background-image: url('/static/images/btnSearch.gif');
	background-repeat:no-repeat;
	border: 0;
	text-indent: -9999px;
	}
		
	#CGSheader #headerArea .headerSearch .searchBox form .searchButton:hover{
	background-position: 0px -26px;;
	}
	
	#CGSheader #headerArea ul#topNav{
	position:absolute;
	top:43px;
	right:30px;
	width:480px;
	}
	
	#CGSheader #headerArea ul#topNav li{
	float:left;
	}
	
	#CGSheader #headerArea ul#topNav li.megahover{
	height:100px;
	background:url('/static/images/megaArrow.png') no-repeat center 31px;
	}
	
	#CGSheader #headerArea ul#topNav li a.main{
	outline:none;
	text-shadow: #E20100 0px 1px 0;
	font:normal normal bold 15px/15px 'Open Sans', arial, serif;
	display:block;
	color:#171717;
	text-transform:uppercase;
	text-decoration:none;
	float:left;
	padding:5px 10px;
	margin:0 2px;
	}
	
	#CGSheader #headerArea ul#topNav li a.main:hover, 
	#CGSheader #headerArea ul#topNav li a.megahover{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url('/static/images/menu_h_o.jpg') repeat;
	/*background-color:#C02523;*/
	text-shadow: #ef1c1b 0 1px 0;
	}
	
	#CGSheader #headerArea ul#topNav li  .megaDropDown{
	display:none;
	border-bottom:1px solid #222;
	position:absolute;
	top:45px;left:-390px;
	float:left;
	padding:28px 30px 21px 30px;
	width:840px;
	z-index:99999;
	background:transparent url('/static/images/megaBack2.png');
	color:#fff;
	}
	
	#CGSheader #headerArea ul#topNav li  .megaDropDown .megaImage{
	float:right;
	}
	
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url('/static/images/megaLinksBack.png') repeat-x 0px 0px;
	margin:0 10px 7px 0;
	}
	
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li:hover{
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	background-position: 0px -100px;
	/*margin:0 10px 7px 0;*/
	}
	
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a{
	outline:none;
	font:normal normal normal 11px/14px 'Open Sans', arial , serif;
	color:#ccc;
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
	padding:45px 10px 10px 10px;
	width:180px;
	height:45px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center 0px;
	margin:0;
	}
	
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a:hover{
	color:#fff;
	background-position:center -100px;
	}
	
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.tods{background-image: url('/static/images/megatods.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.workshops{background-image: url('/static/images/megaworkshops.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.forums{background-image: url('/static/images/megaforums.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.members{background-image:  url('/static/images/megamembers.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.wiki{background-image: url('/static/images/megawiki.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.portfolio{background-image: url('/static/images/megaportfolio.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.jobs{background-image: url('/static/images/megajobs.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.bsw{background-image: url('/static/images/megabsw.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.ballistic{background-image: url('/static/images/megaballistic.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.gallery{background-image: url('/static/images/megagallery.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.news{background-image: url('/static/images/meganews.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.features{background-image: url('/static/images/megafeatures.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.proshop{background-image: url('/static/images/megaproshop.png');}
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li a.challenge{background-image: url('/static/images/megachallenge.png');}



	
	#CGSheader #headerArea ul#topNav  li .megaDropDown ul li h4{
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;}
	
	
	#CGSheader #headerArea .imageScroll{
	position:absolute;
	top:140px;
	left:0;	
	width:900px;
	overflow:hidden;
	}
	
	#CGSheader #headerArea .imageScroll  .prev, 
	#CGSheader #headerArea .imageScroll  .next, 
	#CGSheader #headerArea .imageScroll  .prev a, 
	#CGSheader #headerArea .imageScroll  .next a, 
	#CGSheader #headerArea .imageScroll  .imageCarousel{
	float:left;
	height:90px;
	}	
	
	#CGSheader #headerArea .imageScroll  .imageCarousel {
	position: relative;
    visibility: hidden;
    left: -5000px;
	}
	
	#CGSheader #headerArea .imageScroll  .imageCarousel ul li{
	display:inline;
	}
	
	#CGSheader #headerArea .imageScroll  .imageCarousel ul li a{
	float:left;
	display:block;
	margin-right:11px;
	}
	

	
	#CGSheader #headerArea .imageScrollArrows {
	display:none;
	position:absolute;
	top:140px;
	left:-52px;
	height:90px;
	width:1001px;
	}
	
	#CGSheader #headerArea .imageScrollArrows  a {
	background-color:transparent;
	background-image:url('/static/images/imageScrollArrows.png');
	background-repeat:no-repeat;
	background-position:100px;
	border:0;
	outline:none;
	display:block;
	width:50px;
	height:90px;
	}
	
	#CGSheader #headerArea .imageScrollArrows  a.next{	
	background-position:right 14px;
	float:right;
	}
	
	#CGSheader #headerArea .imageScrollArrows  a.prev{
	background-position:left 14px;
	float:left;
	}
	
	#CGSheader #headerArea .imageScrollArrows  a.prev span,
	#CGSheader #headerArea .imageScrollArrows  a.next span
	{
	display:none;
	}
	
	
/*****************************
******************************
            FOOTER
******************************
*****************************/

	
	#CGSfooter {
	clear:both;
	margin-bottom:50px;
	line-height:30px;
	width:100%;
	font:normal normal normal 13px 'Open Sans', arial, serif;
	text-align:left;
	padding-bottom:11px;
	background:transparent url('/static/images/footershadow.png') no-repeat center bottom;
	}
	
	#CGSfooter div.footerDetail{
	width:100%;
	background: url('/static/images/pageShadow.png') repeat-y center;
	}
	
	#CGSfooter #footerArea{
	padding:20px 35px;
	position:relative;
	width:830px;
	margin:0 auto;
	background:#0b0b0b url('/static/images/back_footer.jpg') no-repeat center bottom;
	}
	
	#CGSfooter #footerArea .footerContent{
	padding:20px 0;
	color:#545454;
	line-height:15px;
	position:relative;
	background: transparent url('/static/images/dottedline.gif') repeat-x center top;
	clear:both;
	}
	
	#CGSfooter #footerArea .footerContent .copyright{
	font-size:10px;
	margin-bottom:0;
	}
	
	#CGSfooter #footerArea .footerContent h4{
	font:normal normal bold 14px/20px arial, 'Open Sans', serif;
	text-transform:uppercase;
	color:#E3B176;
	}
	
	#CGSfooter #footerArea .footerContent p{
	margin-bottom:20px;
	}
	
	#CGSfooter #footerArea .footerContent a{
	outline:none;
	color:#555;
	text-decoration:none;
	}
	
	#CGSfooter #footerArea .footerContent a:hover{
	color:#ccc;
	text-decoration:none;
	}
	
	
	#CGSfooter #footerArea .footerContent .footerLeft{
	width:320px;
	margin-right:60px;
	float:left;
	}
	
	#CGSfooter #footerArea .footerContent .footerRight{
	margin-left:380px;
	}
	
	#CGSfooter #footerArea .footerContent .footerNav ul li{
	float:left;
	width:175px;
	}
	#CGSfooter #footerArea .footerContent .footerNav ul li ul, 
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul{
	margin-bottom:20px;
	}
	
	#CGSfooter #footerArea .footerContent .footerNav ul li ul li, 
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li{
	padding:1px 0;
	float:none;
	}
	
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.iconGray{
	outline:none;
	padding-left:18px;
	max-height:20px;
	background-image:url('/static/images/iconsGray.png');
	background-repeat:no-repeat;
	}
	
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.facebook{background-position:0px 0px;}
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.facebook:hover{background-position:0px -30px;}
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.twitter{background-position:0px -60px;}
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.twitter:hover{background-position:0px -90px;}
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.linkedin{background-position:0px -120px;}	
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.linkedin:hover{background-position:0px -150px;}
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.google{background-position:0px -180px;}	
	#CGSfooter #footerArea .footerContent .footerLinks ul li ul li a.google:hover{background-position:0px -210px;}
	
	div#customStory, div#specialstory{
		width:900px;
		overflow:hidden;
		
		margin: 0 auto;
	}
	
	div#customStory ul li.featurepage,div#specialstory ul li.featurepage{
		width:900px;
		float:left;
	}	
	
	div#customStory ul.featurepageslist,div#specialstory ul.featurepageslist{
		width:10000px;
	}
	

/*****************************
******************************
             PAGE
******************************
*****************************/

	#CGSpage {
	position:relative;
	line-height:30px;
	width:100%;
	font:normal normal normal 13px 'Open Sans', arial, serif;
	background: transparent url('/static/images/pageBackTop.gif') repeat-x top;
	}
	
	#CGSpage div.pageDetail{
	position:relative;
	width:100%;
	margin:0 auto;
	background: url('/static/images/pageShadow.png') repeat-y center;
	}
	
	#CGSpage #page {
	font:normal normal normal 11px/15px 'Open Sans', arial, serif;
	color:#666;
	position:relative;
	width:900px;
	margin:0 auto;
	background: url('/static/images/homebgtext.jpg') no-repeat 0 0 #0b0b0b;
	}
	
	
	
	#CGSpage #page .pageContent{
	clear:both;
	position:relative;
	margin:0px 30px;
	padding:25px 0px;
	color:#545454;
	background: transparent url('/static/images/dottedline.gif') repeat-x center top;
	
	}
	
	#CGSpage #page .leaderADs{
	clear:both;
	position:relative;
	margin:0px 30px;
	padding-top:16px;
	}
	
	#CGSpage #page .leaderADs .leaderboardAD{
	width:728px;
	height:90px;
	overflow:hidden;
	}
	
	#CGSpage #page .leaderADs .creditcardAD{
	float:right;
	width:96px;
	height:90px;
	overflow:hidden;
	}
	
	
	#CGSpage #page  .PageContent h3{
		color:#b1302a;
		font-size:15px;
		font-weight:bold;
	}
	
	
	#CGSpage #page .tabAreaWrapper {
	margin:20px 30px;
	height:420px;
	}

	#CGSpage #page #homeSliderTabs {
	float:left;
	width:625px;
	height:420px;
	margin-right:10px;
	}
	
			
	#CGSpage #page #homeNewsTabs{
	width:205px;
	float:left;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea{
	position:relative;
	height:392px;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroIMG{
	position:absolute;
	z-index:5000;
	width:625px;
	height:310px;
	overflow:hidden;
	}	
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroIMG ul{
	margin-left:0;
	width:7000px
	}
		
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroIMG ul li a{
	display:block;
	float:left;
	width:625px;
	height:310px;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroSlide{
	width:625px;
	height:310px;
	visibility: hidden;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES{
	position:absolute;
	top:310px;
	left:0px;
	background:#212121 url('/static/images/tabColors.png') repeat-x 0px -673px ;
	z-index:0;
	height:82px;
	width:625px;
	overflow:hidden;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}	
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES .heroDES_content{
	width:400px;
	height:68px;
	color:#fff;
	margin:7px 10px;
	overflow:hidden;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES ul {
	margin-left:0;
	width: 7000px;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES ul li{
	float:left;
	display:block;
	width:403px;
	height: 70px;
	}
	
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES ul li h2{
	font-weight:bold;
	font-size:18px;
	line-height:20px;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES ul li p{
	font-size:11px;
	font-weight:bold;
	line-height:13px;
	margin-bottom:5px;
	height: 27px;
	display: block;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroDES ul li p.heroBCs, 
	#CGSpage #page #homeSliderTabs .homeSliderArea a{
	color:#cccccc;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	text-decoration:none;
	}
	
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroNAV{
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:10000;
	height:95px;
	width:225px;
	overflow:hidden;
	}

	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroNAV ul{
	padding-left:50px;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroNAV ul li a{
	display:block;
	float:left;
	height:50px;
	font-size:14px;
	width:8px;
	margin:0 2px;
	padding:45px 5px 0px 5px;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroNAV ul li a:hover{
	color:#fff;
	}
	
	#CGSpage #page #homeSliderTabs .homeSliderArea .heroNAV ul li a.activeHERO{
	color:#fff;
	background:transparent url('/static/images/tabColors.png') no-repeat -100px 3px;
	}
	
		#CGSpage #page #homeSliderTabs .heroNAV  a:hover,
		#CGSpage #page #homeSliderTabs .heroDES  a:hover
		{color:#fff !important;}
	
	
		#CGSpage #page #homeSliderTabs .ui-tabs-hide, 
		#CGSpage #page #homeNewsTabs .ui-tabs-hide{display: none !important;}

		
		#CGSpage #page #homeNewsTabs ul.newsTabs, #CGSpage #page #homeSliderTabs ul.sliderTabs{
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		margin-top:5px;
		height:18px;
		background-color:#212121;
		}
			
		#CGSpage #page #homeNewsTabs ul.newsTabs  li a, #CGSpage #page #homeSliderTabs ul.sliderTabs li a{
		font-weight:bold !important;
		font-size:11px;
		line-height:11px;
		text-transform:uppercase;
		color:#fbf8f8;
		text-decoration:none;
		padding:3px 10px 3px 10px;
		display:block;
		float:left;
		}	
		
		#CGSpage #page #homeSliderTabs ul.sliderTabs li a:hover{
		background-color:#333;
		}
		
		#CGSpage #page #homeSliderTabs ul.sliderTabs li a.TABfeat:hover{
		-webkit-border-top-left-radius: 4px;-moz-border-radius-topleft: 4px;border-top-left-radius: 4px;
		}
		
		#CGSpage #page #homeNewsTabs ul.newsTabs   li.ui-state-active  a, #CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active  a{
		background:#212121 url('/static/images/tabColors.png') repeat-x 0px -645px ;
		margin-top:-5px;
		padding:7px 0px 5px 10px;
		display:block;
		float:left;
		}	
		
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active  a{
		padding:7px 10px 5px 10px;
		}
		
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active a, #CGSpage #page #homeNewsTabs ul.newsTabs   li.ui-state-active a{
			-webkit-border-top-left-radius: 4px;-moz-border-radius-topleft: 4px;border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;-moz-border-radius-topright: 4px;border-top-right-radius: 4px;
		}		
	#CGSpage #page .home3ColWrapper {
	float:left;
	width:100%;
	margin-bottom:15px;
	}
	
	#CGSpage #page .home3ColWrapper .skyscraper{
	position:relative;
	width:160px;
	height:600px;
	float:left
	}
	
	#CGSpage #page .home3ColWrapper .columnRight{
	position:relative;
	width:200px;	
	float:right;
	}
	
		#CGSpage #page  .smallPageContent{
		font-weight:600;
		color:#bfbfbf;
		font-size:11px;
		margin-bottom:15px;
		padding-bottom:15px;
		border-bottom:1px dotted #404040;
		}
		
		#CGSpage #page  .smallPageContent p{
		margin-top:10px;
		line-height:13px;
		}
		
		#CGSpage #page  .smallPageContent h3{
		color:#b1302a;
		font-size:15px;
		font-weight:bold;
		}
		
		#CGSpage #page  .yellow {
		color:#dbaf63;
		font-weight:bold;
		text-decoration:none;
		}
		
		#CGSpage #page  a.yellow:hover {
		text-decoration:underline;
		color: #e3e3e3;
		}
		
		#CGSpage #page #newsletterForm{
		height:22px;
		margin-top:10px;
		}
		
		#CGSpage #page #newsletterForm .newsletterField{
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		float:left;
		font:normal normal 600 0.8em/8px 'Open Sans', arial, serif;
		padding:5px 8px;
		height:10px;
		width:150px;
		margin-right:4px;
		border:1px solid #7c7c7c;	
		}
		
		#CGSpage #page #newsletterForm .newsletterButton{
		float:left;
		height:22px;
		width:28px;
		background-color:transparent;
		background-image: url('/static/images/btnGo.gif');
		background-repeat:no-repeat;
		border: 0;
		text-indent: -9999px;
		}
			
		#CGSpage #page #newsletterForm .newsletterButton:hover{
		background-position: 0px -22px;;
		}
	
	
	
	#CGSpage #page .home3ColWrapper #CGSlatest{
	margin-left:160px;
	margin-right:200px;
	}
	
		#CGSlatest{
		position:relative;
		color:#999;
		}
		
		#CGSlatest .latestDoubleRow, 
		#CGSlatest .latestSingleRow{
		float:left;
		width:100%;
		margin-bottom:22px;
		}
		
		#CGSlatest .latestDoubleRow .latestBox {
		width:210px;
		float:left;
		}
		
		#CGSlatest  .latestBox {
		margin: 0 15px;
		}
		
		#CGSlatest .latestBox .latestHeader{
		position:relative;
		height:30px;
		border-bottom:1px solid #252525;
		background-color: transparent;
		background-image: url('/static/images/iconsLatestHeader.png');
		background-repeat:no-repeat;
		background-position:0px 50px;
		overflow:hidden;
		cursor: pointer;
		}
		

		
		#CGSlatest .latestBox .latestHeader h3{
		text-transform:uppercase;
		font-size:12px;
		line-height:12px;
		font-weight:bold;
		margin-left:30px;
		}
		
		#CGSlatest .latestBox .latestHeader h3 a{
		text-decoration:none;
		text-transform:uppercase;
		font-size:12px;
		line-height:12px;
		font-weight:bold;
		}
		
		#CGSlatest .latestBox .latestHeader h4{
		color:#dadada;
		text-transform:uppercase;
		font-size:10px;
		line-height:10px;
		font-weight:bold;
		margin-left:30px;
		}
		
		#CGSlatest .latestBox .latestHeader a.rss{
		float:right;
		margin-top:-10px;
		display:block;
		width:12px;
		height:12px;
		background:transparent url('/static/images/rssIcon_tiny.png') no-repeat 0px 0px;
		overflow:hidden;
		text-indent:12px;
		display:none;
		}
		
		#CGSlatest .latestBox ul{
		font-size:5px;
		line-height:9px;
		list-style-type:disc;
		margin-top:4px;
		}
		#CGSlatest .latestBox ul li{
		margin-left:18px;
		line-height: 0px;
		}
		
		#CGSlatest .latestBox ul li a{
		font-size:10px;
		line-height:10px;
		padding:2px 0;
		display:block;
		color:#999;
		text-decoration:none;
		}
		
		#CGSlatest .latestBox ul li a .subtext{
		color:#626262;
		margin-left:2px;
		line-height:12px;
		}
		
		#CGSlatest .latestBox ul li a:hover{
		/*background-color:#000;*/
		color:#ccc;
		}
		
		#CGSlatest .latestBox a.latestMore{
		margin-left:6px;
		text-decoration:none;
		font-weight:bold;
		color:#666;
		font-size:9px;
		}
		.rss{
			display:none;
		}
		
		/* CUSTOM BOXES*/
		#CGSlatest .LBpurple .latestHeader{background-position:0px 0px;}
		#CGSlatest .LBpurple .latestHeader h3 a,
		#CGSlatest .LBpurple a.latestMore
		{color:#a875f4;}
		#CGSlatest .LBred .latestHeader{background-position:0px -28px;}
		#CGSlatest .LBred .latestHeader h3 a,
		#CGSlatest .LBred a.latestMore
		{color:#ff4200;}	
		#CGSlatest .LBblue .latestHeader{background-position:0px -59px;}
		#CGSlatest .LBblue .latestHeader h3 a,
		#CGSlatest .LBblue a.latestMore
		{color:#2591f0;}	
		#CGSlatest .LByellow .latestHeader{background-position:0px -89px;}
		#CGSlatest .LByellow .latestHeader h3 a,
		#CGSlatest .LByellow a.latestMore
		{color:#ff9c00;}	
		#CGSlatest .LBteal .latestHeader{background-position:0px -118px;}
		#CGSlatest .LBteal .latestHeader h3 a,
		#CGSlatest .LBteal a.latestMore
		{color:#01b9a5;}	
		#CGSlatest .LBgreen .latestHeader{background-position:0px -150px;}
		#CGSlatest .LBgreen .latestHeader h3 a,
		#CGSlatest .LBgreen a.latestMore
		{color:#00b156;}	
		#CGSlatest .LBdarkred .latestHeader{background-position:0px -180px;}
		#CGSlatest .LBdarkred .latestHeader h3 a,
		#CGSlatest .LBdarkred a.latestMore
		{color:#be0201;}	
		#CGSlatest .LBgold .latestHeader{background-position:0px -240px;}
		#CGSlatest .LBgold .latestHeader h3 a,
		#CGSlatest .LBgold a.latestMore
		{color:#dcb268;}
	
	#CGSpage #page #CGChoiceHome{}
	
	#CGSpage #page #CGChoiceHome h3{
	background: transparent url('/static/images/iconsLatestHeader.png') no-repeat 0px -210px;
	padding:5px 0 0px 30px;
	color:#b1302a;
	font-size:15px;
	font-weight:bold;
	}
	
	#CGSpage #page #CGChoiceHome .choiceGallery{
	height:224px;
	margin-top:8px;
	background: url('/static/images/fineBack.gif');
	border-right:2px solid #090909;
	border-bottom:2px solid #090909;
	border-top:1px solid #090909;
	border-left:2px solid #090909;
	}
	
	#CGSpage #page #CGChoiceHome .choiceGallery ul{margin:13px 0 0 13px}
	#CGSpage #page #CGChoiceHome .choiceGallery ul li a{
	background: transparent url('/static/images/shadow90x90.png') no-repeat 0px 0px;
	padding:3px;
	display:block;
	width:90px;
	height:90px;
	float:left;
	margin:0 6px 6px 0;
	}
	#CGSpage #page #CGChoiceHome .choiceGallery ul li a:hover{
	background: transparent url('/static/images/shadow90x90.png') no-repeat 0px -96px;
	}
	
	#CGSpage #page .newsTab li{
		cursor: pointer;
	}

/*****************************
******************************
     FEATURES AND DISQUS
******************************
*****************************/
div.dsq-options span.dsq-subscribe-email span#dsq-subscribe a {
background: url(/static/images/subemail.png) no-repeat !important;
padding: 0 0 0 20px;
}
div#dsq-content.clearfix div.dsq-options span.dsq-subscribe-email span.dsq-subscribe-rss a {
background:url(/static/images/subrss.png)  no-repeat !important;
padding: 0 0 0 20px;
}



#dsq-content .dsq-textarea .dsq-textarea-wrapper {
margin: 12px 0px 0px !important;
}


#disqusWrapper .divider {
margin: 15px auto;
width: 840px;
background: url('/static/images/divider.png') repeat-x;
height: 1px;
}

#dsq-content .dsq-post-footer .dsq-button {
    float: right;
    margin-left: 3px;
}


button.dsq-button {
    padding: 6px 10px !important;
}
button.dsq-button, button.dsq-button-small {
    background: url("/static/images/disqusslike.jpg") repeat scroll left bottom transparent !important;
    border: 0 solid #999999 !important;
}


    .dsq-toolbar-icon {
    background-image: url("/static/images/dis.png")!important;
    display: block;
    height: 16px;
    text-indent: -9999em;
    width: 16px;
}


	#disqus_thread {
    color: #DDDDDD;
    margin-bottom: 0 !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 15px;
    width: 840px !important;
    font-family: arial;
}
#disqus_thread a {
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-weight: normal;
}
#discus_thread small, #discus_thread small a {
    font-size: 8px !important;
}
#disqus_thread a:hover {
    color: #ACACAC !important;
}
.dsq-comment-header-meta-wrapper {
    color: #DDDDDD;
}
.dsq-request-user-info td {
    color: #DDDDDD;
}
input.dsq-trackback-url {
    border: 1px solid #DDDDDD;
    color: #DDDDDD;
}
a.dsq-brlink {
    background-color: #373737;
    color: #DDDDDD;
    display: block;
    font-weight: normal;
    margin: 0 auto;
    width: 900px;
}
.dsq-request-user-info {
    clear: none !important;
}

#featureWrapper a{
		font-family: arial;
}

#featureWrapper td {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
button.dsq-button-small {
padding: 4px 6px !important;
}
button.dsq-button-small {
background: transparent url("/static/images/disqusslike.jpg") repeat-x 0% 100% !important;
border: 0px solid #999 !important;
}
button.dsq-button-small:hover {
background: transparent url("/static/images/disqusslikeo.jpg") repeat-x 0% 100% !important;
border: 0px solid #999!important;
}

/*####################################
######################################

	    FEATURES LISTING CSS

######################################
####################################*/

#CGSFeatureList {
margin-left: 174px;
overflow: auto;
width: 664px;
}

#CGSFeatureList h2 {
color: #a875f4;
font:700 23px 'Open Sans', arial, serif;
background: url("/static/images/featurestitleatom.png") no-repeat 0 5px;
padding: 0 0 0 25px;
text-transform: uppercase;
width: 634px;
}

#CGSFeatureList h2 span {
color: #cacaca;
font:700 13px 'Open Sans', arial, serif;
padding: 0 0 0 2px;
text-transform: uppercase;
}
#CGSFeatureList h2 select {
float: right;
margin: 10px 0 0;
}


#CGSFeatureList ul {
list-style-type: none;
float: left;
}

#CGSFeatureList ul li {
clear: both;
overflow: auto;
margin:0px 0 0px 0;
padding: 18px 0 0 0;
}
#CGSFeatureList ul li h3, #CGSFeatureList ul li h3 a:link, #CGSFeatureList ul li h3 a:visited  {
color: #ce4e47;
font-size: 13px;
font-weight: bold;
font-family: arial, serif;
text-decoration: none;
}
#CGSFeatureList ul li h3 a:hover  {
color: #ffffff;
}

#CGSFeatureList ul li a.readmore:link, #CGSFeatureList ul li a.readmore:visited  {
color: #ce4e47;
font-size: 11px;
font-weight: bold;
font-family: arial, serif;
padding: 0 0 0 6px;
text-decoration: none;
}
#CGSFeatureList ul li a.readmore:hover  {
color: #ffffff;
}


#CGSFeatureList ul li p {
padding: 4px 0 0 82px;
color: #fbf8f8;
font:normal 12px arial, hevetica, serif;
}
#CGSFeatureList ul li span.articleDate {
color: #b0aeae;
font:bold 11px arial, hevetica, serif;
}

#CGSFeatureList ul li img {
float: left;
width: 70px;
height: 70px;
border: 0;
margin: 3px 12px 15px 0px;
}






/*####################################
######################################

		STANDARD STORY CSS

######################################
####################################*/



/**** shareBar ****/

	#shareBar {
	width: 900px;
	margin: 0 auto;
	height: 74px;
	}
	
	a.shareGoBack:link, a.shareGoBack:visited  {
	background: url('/static/images/sharebtn.jpg') no-repeat;
	height: 74px;
	width: 36px;
	float:left;
	}
	
		a.shareGoBack:hover  {
		background: url('/static/images/sharebtn.jpg') 0 -74px no-repeat;
		height: 74px;
		width: 36px;
		float:left;
		}
	
	
	
	#articleShare {
	background: url('/static/images/sharebar.jpg') no-repeat;
	height: 74px;
	width: 865px;
	margin: 0 0 0 36px;
	}	
	
	#articleShare .shareButtons{ 
	float:right;
	margin-top:7px;
	margin-left:7px;
	}
	
	#articleShare .shareButtons div{ 
	float:right;
	margin-left:7px;
	}
	
	#articleShare .shareButtons div.tw_btn{ 
	margin-top:-2px;
	}

	#articleShare .shareButtons div.printbtn{ 
		margin-top:-2px;
		
	}
		#articleShare .shareButtons div.printbtn a{ 
		    background: url("/static/images/print-icon.png") no-repeat scroll 1px 2px transparent;
		    display: block;
		    height: 62px;
		    width: 31px;
		}
			#articleShare .shareButtons div.printbtn a span{
				display:none;
			} 
			
	#articleShare .fb_edge_comment_widget { margin-left: -350px; } 


/**** standard story ****/
	
	#featureWrapper #standardStory #page,#featureWrapper .diaryStory .page {
	background:url('/static/images/pagebgtex.jpg') no-repeat top center #0B0B0B ;
	color: #f2f2f2;
	font:normal 13px/17px arial, helvetica, serif;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
    width: 840px;
     overflow: hidden;
     clear:both;
	}
	
	#featureWrapper .diaryStory .page h3{
	    font-weight:bold;
	}
	
	#featureWrapper .diaryStory .page {
	    padding: 15px 15px;
				
	}
	
	#disqusWrapper{
	background:#0B0B0B ;
	color: #f2f2f2;
	font:normal 13px/17px arial, helvetica, serif;
    margin: 0 auto;
    padding: 15px 0px;
    position: relative;
     width: 900px;
     min-height:250px;
	}
	
	#featureWrapper #standardStory img.left {
	float: left;
	margin: 15px 18px 15px 0;
	width: 414px;
	height: auto;
	}
	
	#featureWrapper #standardStory img.right {
	float: right;
	margin: 15px 0px 15px 11px;
	width: 414px;
	height: auto;
	}
	
	#featureWrapper #standardStory img.full {
	float: left;
	margin: 20px 0px;
	width: 838px;
	height: auto;
	}
	
	.divider {
	background: url('/static/images/divider.png') repeat-x;
	height: 1px;
	width: 100%;
	margin: 15px 0;
	}
	
	.divider.closecut{
	background: url('/static/images/divider.png') repeat-x;
	height: 1px;
	width: 100%;
	margin: 5px 0 0;
	}
	
		.divider hr{
		display: none;
		}
	
	
	
	#standardHeroImage {
	width: 900px;
	margin: 0 auto;
	}
	
	#featureWrapper #standardStory h1 {
	font:bold 24px 'Open Sans', arial, serif;
	letter-spacing: 0px;
	color: #fff;	
	}
	
	#featureWrapper #standardStory h2 {
	font:bold 17px 'Open Sans', arial, serif;
	letter-spacing: 0px;
	color: #f7c973;
	}
	
	#featureWrapper #standardStory, #featureWrapper #standardStory p {
	font:normal 13px/17px arial, helvetica, serif;
	color: #f2f2f2;
	
	}
	
	#featureWrapper #standardStory h1 + p.standardStoryData {
	font:700 12px/12px 'Open Sans', arial, serif;
	color: #b0aeae;
	margin: 0;
	}
	
	#featureWrapper #standardStory #storyRelatedLinks {
	font-weight: bold;
	color: #f2f2f2;
	font-size: 12px;
	margin: 20px 0 15px 0;
	}
	
		#featureWrapper #standardStory #storyRelatedLinks ul {
			padding: 7px 0 0 0;
			}
			
			#featureWrapper #standardStory #storyRelatedLinks ul li {
			list-style-type: none;
			}
			
				#featureWrapper #standardStory #storyRelatedLinks ul li a:link, 
				#featureWrapper #standardStory #storyRelatedLinks ul li a:visited,
				#featureWrapper #standardStory a:link,
				#featureWrapper #standardStory a:visited
				{
				color: #ce4e47;
				font-weight: bold;
				text-decoration: none;
				font-size: 12px;
				}
			
					#featureWrapper #standardStory a:hover,
					#featureWrapper #standardStory #storyRelatedLinks ul li a:hover {
					color: #ff756d;
					font-weight: bold;
					text-decoration: none;
					font-size: 12px;
					}
					
		#featureWrapper{
			overflow: hidden;
		}

/* Custom Color Tabs */
	
	/* Features - Purple*/
		#CGSpage #page #homeSliderTabs #TABfeat .heroDES{
		background-position: 0px -123px;
		}
		#CGSpage #page #homeSliderTabs #TABfeat .heroNAV ul li a.activeHERO{
		background-position: -40px 3px;
		}
		#CGSpage #page #homeSliderTabs #TABfeat p.heroBCs, 
		#CGSpage #page #homeSliderTabs #TABfeat .heroNAV a,
		#CGSpage #page #homeSliderTabs #TABfeat .heroDES a{
		color:#cfaeff;
		}

		
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active a.TABfeat{
		background-position: 0px -97px;
		}
		
	/* Workshops - Blue*/
		#CGSpage #page #homeSliderTabs #TABwork .heroDES{
		background-position: 0px -233px 
		}
		#CGSpage #page #homeSliderTabs #TABwork .heroNAV ul li a.activeHERO{
		background-position: -20px 3px;
		}
		#CGSpage #page #homeSliderTabs #TABwork p.heroBCs, 
		#CGSpage #page #homeSliderTabs #TABwork .heroNAV a,
		#CGSpage #page #homeSliderTabs #TABwork .heroDES a{
		color:#aed4ff;
		}
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active a.TABwork{
		background-position: 0px -207px;
		}
		
	/* Portfolio - Yellow*/
		#CGSpage #page #homeSliderTabs #TABport .heroDES{
		background-position: 0px -343px 
		}
		#CGSpage #page #homeSliderTabs #TABport .heroNAV ul li a.activeHERO{
		background-position: 0px 3px;
		}
		#CGSpage #page #homeSliderTabs #TABport p.heroBCs, 
		#CGSpage #page #homeSliderTabs #TABport .heroNAV a,
		#CGSpage #page #homeSliderTabs #TABport .heroDES a {
		color:#feffae;
		}
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active a.TABport{
		background-position: 0px -317px;
		}
		
	/* Challenge - Orange*/
		#CGSpage #page #homeSliderTabs #TABchal .heroDES{
		background-position: 0px -453px 
		}
		#CGSpage #page #homeSliderTabs #TABchal .heroNAV ul li a.activeHERO{
		background-position: -60px 3px;
		}
		#CGSpage #page #homeSliderTabs #TABchal p.heroBCs, 
		#CGSpage #page #homeSliderTabs #TABchal .heroNAV a,
		#CGSpage #page #homeSliderTabs #TABchal .heroDES a  {
		color:#ffd2ae;
		}
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active a.TABchal{
		background-position: 0px -427px;
		}
	/* Proshop - Green*/
		#CGSpage #page #homeSliderTabs #TABpros .heroDES{
		background-position: 0px -563px 
		}
		#CGSpage #page #homeSliderTabs #TABpros .heroNAV ul li a.activeHERO{
		background-position: -80px 3px;
		}
		#CGSpage #page #homeSliderTabs #TABpros p.heroBCs, 
		#CGSpage #page #homeSliderTabs #TABpros .heroNAV a,
		#CGSpage #page #homeSliderTabs #TABpros .heroDES a   {
		color:#c7ffae;
		}
		#CGSpage #page #homeSliderTabs ul.sliderTabs   li.ui-state-active a.TABpros{
		background-position: 0px -537px;
		}
		
	/* News Tabs - Grey */			
		#CGSpage #page #homeNewsTabs ul.newsTabs   li a.TABIndNews{
		width:100px;
		}
		
		#CGSpage #page #homeNewsTabs ul.newsTabs   li a.TABCGSNews{
		width:75px;
		}
		
		
		
/* Diary Page*/

.diaryPage{
	margin: 0 auto;
		width: 900px;
	}
	
	.diaryPage h2{
	    color: #FFFFFF;
	    font-family: arial;
	    font-size: 22px;
	    font-weight: bold;
	    padding: 10px 15px;
	    -webkit-border-top-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	    
   }
	
	
	.diaryLeftCol{
		float: left;
		width: 560px;
		 margin-left: 19px;
	}
	.diaryRightCol{
		float: left;
		width: 280px;
		margin-left: 20px;
	}
	
	#diarysponsors {
	margin-bottom:15px;
	}
	
	#diarysponsors h2{
	font-size:12px;
	text-align:center;
	}
	
	#diarysponsors ul li{
	text-align:center;
	}
	
	.diaryContents ul{
    	background: #efefef;		
 		padding: 0 0 15px;
    	}

	.diaryContents ul li a{
		color: #1D5352;
	    font-family: Arial,Helvetica,sans-serif;
	    font-size: 11px;
	    font-weight: bold;	
 		text-decoration: none;
 		padding: 15px 0 0 15px;
 		display: block;
     }
.diaryPage	#disqusWrapper{
		clear: both;
	}
	
	#featureWrapper .diaryStory .page {
		background: none repeat scroll 0 0 #EFEFEF;
	    color: #000000;
	    margin-bottom: 20px;
	    width: 530px;
    	}
    	
	


/* News Tab Content*/
	#CGSpage #page #homeNewsTabs .newsTab{
		background-color:#343434;
		height:393px;
		overflow:hidden;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		}
		
		#CGSpage #page #homeNewsTabs .newsTab ul li{
		padding:15px 10px 0px 10px;
		background:transparent url('/static/images/newsArrow.gif') no-repeat 0px 47px;
		}
		
		#CGSpage #page #homeNewsTabs .newsTab ul li h3,
		#CGSpage #page #homeNewsTabs .newsTab ul li h3 a,
		#CGSpage #page #homeNewsTabs .newsTab ul li h3 a:hover{
		color:#ce4e47;
		font-size:13px;
		font-weight:bold;
		text-decoration: none;
		}
		
		#CGSpage #page #homeNewsTabs .newsTab ul li h5{
		color:#b0aeae;
		font-size:10px;
		line-height:14px;
		font-weight:bold;
		}
		
		#CGSpage #page #homeNewsTabs .newsTab ul li p{
		color:#fbf8f8;
		font-size:11px;
		line-height:13px;
		font-weight:600;
		}


/**** CGS Info Page ****/

#CGSpage div#page.cgsinfopage {
	padding: 0 30px;
	width: 840px;;
	margin: 0 auto;
	background: url(/static/images/bgtext.jpg) no-repeat 0 0 #0B0B0B;
	overflow: auto;
}


#CGSpage div#page.cgsinfopage h2 {
	font: 700 26px 'Open Sans', arial, serif;
	color: #b5322a;
	text-shadow: #000000 0px 2px;
	text-align: left;
	padding: 0 0 2px 0;
	text-transform: uppercase;
	letter-spacing: -1px
}

#CGSpage div#page.cgsinfopage h3 {
	font: 700 20px 'Open Sans', arial, serif;
	color: #ffffff;
	text-shadow: #000000 0px 2px;
	text-align: left;
	padding: 0 0 2px 0;
	margin: 30px 0 5px 0;
	width: 600px;
}

#CGSpage div#page.cgsinfopage p, #CGSpage div#page.cgsinfopage li {
	font-family: arial, helvetica, serif;
	font-size: 12px;
	color: #ffffff;
	text-align: left;
	padding: 0 0 10px 2px;
}

#CGSpage div#page.cgsinfopage li {
	padding-left: 15px;
	margin-left:35px;
}

#CGSpage div#page.cgsinfopage ol{
	list-style:decimal outside none;
}

#CGSpage div#page.cgsinfopage ul{
	list-style: disc outside none;
}

#CGSpage div#page.cgsinfopage #cgsinfoNavBar ol, #CGSpage div#page.cgsinfopage #cgsinfoNavBar ul{
	list-style: none outside none;
}

#CGSpage div#page.cgsinfopage #cgsinfoNavBar li{
	padding-left: 24px;
	margin-left:0;
}


#CGSpage div#page.cgsinfopage p a:link,#CGSpage div#page.cgsinfopage p a:visited {
	font-family: arial, helvetica, serif;
	font-size: 12px;
	font-weight: bold;
	color: #ce4e47;
	text-decoration: none;
}
#CGSpage div#page.cgsinfopage p a:hover {
	color: #ff817a;
}

#infocontent {
float: left;
width: 600px;
}

#quickcontact {
background: url(/static/images/quickcontact.jpg) no-repeat;
width: 198px;
height: 320px;
padding: 24px 16px 24px 16px;
float: left;
margin: 36px 0 0 10px;
}
#quickcontact {
color: #ffffff;
text-decoration: none;
font-size: 12px;
font-family: Arial, Sans-Serif;

}
#quickcontact a:link, #quickcontact a:visited {
color: #ffffff;
text-decoration: none;
font-weight: bold;

}
#quickcontact a:hover {
color: #ff817a;
text-decoration: none;
}
#quickcontact ul li {
margin: 0 0 13px 0;

}

#quickcontact ul li.ad {
background: url(/static/images/addressicon.png) no-repeat;
padding: 0 0 0 32px;
}
#quickcontact ul li.tel {
background: url(/static/images/telicon.png) no-repeat;
padding: 0 0 0 32px;
}
#quickcontact ul li.fax {
background: url(/static/images/faxicon.png) no-repeat;
padding: 0 0 0 32px;
}
#quickcontact ul li.fb {
background: url(/static/images/fbicon.png) no-repeat;
padding: 0 0 0 32px;
 line-height: 20px;
}
#quickcontact ul li.tw {
background: url(/static/images/twittericon.png) no-repeat;
padding: 0 0 0 32px;
 line-height: 20px;
}
#quickcontact ul li.li {
background: url(/static/images/linkedicon.png) no-repeat;
padding: 0 0 0 32px;
 line-height: 20px;
}

ol.privacy {
list-style-type: decimal;
color: #fff;
font-family: Arial, sans-serif;
font-size: 12px;
list-style-position: inside;
}
ol.privacy li {
margin: 0 0 10px;
padding: 0 0 0 20px;
}
/*################### 
      
cgsinfopage Top Bar

####################*/

#cgsinfoNavBar {
	height: 59px;
	padding: 0px 0px 0 0px;
	border: 0;
	margin: 0 0 40px 0;
	}


#cgsinfoNavBar a:link,#cgsinfoNavBar a:visited  {
	font-family: arial,helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;

}

#cgsinfoNavBar a:hover  {
	font-weight: bold;
}


#cgsinfoNavBar img.logo {
	float: left;
	margin: 22px 0 0 0;
}

#cgsinfoNavBar ul {
	float: right;
	margin: 35px 0 0 0px
}

#cgsinfoNavBar ul li {
	float: left;
	padding: 0 0 0 24px;
}

#cgsinfoNavBar a:link, #cgsinfoNavBar a:visited {
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}

#cgsinfoNavBar a:hover, #cgsinfoNavBar a.current {
	color: #b5322a;
}

#cgsinfoNavBar ul li.current {
	color: #b5322a;
	text-transform: uppercase;
	font-weight: bold;
}


.bold {font-weight: bold;}

#overlay {
    height: 2353px;
    position: absolute;
    top: 0;
    width: 1356px;
     z-index: 600000;
   	cursor: pointer;
}

#overlaybodywrapper{
	background: url("/static/images/overlaybg.png") repeat scroll 0 0 transparent;
    height: 100%;
    opacity: 5.5;
    position: absolute;
    width: 100%;	
     z-index: 600000;
   	cursor: pointer;
}
#overlaywrapper{
	
    margin: 0 auto;
    position: relative;
   	width: 1356px;
   	cursor: pointer;
	}


.simpleGallery {

    position:relative;

    overflow:hidden;

}

.simpleGallery IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

.simpleGallery IMG.active {
    z-index:10;
    opacity:1.0;
}

.simpleGallery IMG.last-active {
    z-index:9;
}

#TABIndNews ul li a.readmore{
	color: #CE4E47;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;	
}
.fb_reset{
display:none;
}



/*****************************
******************************
    	  Lightbox
******************************
*****************************/


/* REGISTER */

#registerFormIframe{
background: url("http://www.cgsociety.org/static/images/ajax-loader-circle.gif") no-repeat scroll center 20% transparent;
}


/* ------------------------------------------------------------------------
	PrettyPicture
------------------------------------------------------------------------- */

	div.pp_pic_holder a:focus { outline:none; }

	div.pp_overlay {
		background: #000;
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9500;
	}
	
	div.pp_pic_holder {
		display: none;
		position: absolute;
		width: 100px;
		z-index: 10000;
	}

		
		.pp_top {
			height: 20px;
			position: relative;
		}
			* html .pp_top { padding: 0 20px; }
		
			.pp_top .pp_left {
				height: 20px;
				left: 0;
				position: absolute;
				width: 20px;
			}
			.pp_top .pp_middle {
				height: 20px;
				left: 20px;
				position: absolute;
				right: 20px;
			}
				* html .pp_top .pp_middle {
					left: 0;
					position: static;
				}
			
			.pp_top .pp_right {
				height: 20px;
				left: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 20px;
			}
		
		.pp_content { height: 40px; min-width: 40px; }
		* html .pp_content { width: 40px; }
		
		.pp_fade { display: none; }
		
		.pp_content_container {
			position: relative;
			text-align: left;
			width: 100%;
		}
		
			.pp_content_container .pp_left { padding-left: 20px; }
			.pp_content_container .pp_right { padding-right: 20px; }
		
			.pp_content_container .pp_details {
				float: left;
				margin: 10px 0 2px 0;
			}
				.pp_description {
					display: none;
					margin: 0;
				}
				
				.pp_social { float: left; margin: 0; }
				.pp_social .facebook { float: left; margin-left: 5px; width: 55px; overflow: hidden; }
				.pp_social .twitter { float: left; }
				
				.pp_nav {
					clear: right;
					float: left;
					margin: 3px 10px 0 0;
				}
				
					.pp_nav p {
						float: left;
						margin: 2px 4px;
						white-space: nowrap;
					}
					
					.pp_nav .pp_play,
					.pp_nav .pp_pause {
						float: left;
						margin-right: 4px;
						text-indent: -10000px;
					}
				
					a.pp_arrow_previous,
					a.pp_arrow_next {
						display: block;
						float: left;
						height: 15px;
						margin-top: 3px;
						overflow: hidden;
						text-indent: -10000px;
						width: 14px;
					}
		
		.pp_hoverContainer {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2000;
		}
		
		.pp_gallery {
			display: none;
			left: 50%;
			margin-top: -50px;
			position: absolute;
			z-index: 10000;
		}
		
			.pp_gallery div {
				float: left;
				overflow: hidden;
				position: relative;
			}
			
			.pp_gallery ul {
				float: left;
				height: 35px;
				margin: 0 0 0 5px;
				padding: 0;
				position: relative;
				white-space: nowrap;
			}
			
			.pp_gallery ul a {
				border: 1px #000 solid;
				border: 1px rgba(0,0,0,0.5) solid;
				display: block;
				float: left;
				height: 33px;
				overflow: hidden;
			}
			
			.pp_gallery ul a:hover,
			.pp_gallery li.selected a { border-color: #fff; }
			
			.pp_gallery ul a img { border: 0; }
			
			.pp_gallery li {
				display: block;
				float: left;
				margin: 0 5px 0 0;
				padding: 0;
			}
			
			.pp_gallery li.default a {
				background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
				display: block;
				height: 33px;
				width: 50px;
			}
			
			.pp_gallery li.default a img { display: none; }
			
			.pp_gallery .pp_arrow_previous,
			.pp_gallery .pp_arrow_next {
				margin-top: 7px !important;
			}
		
		a.pp_next {
			background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
			display: block;
			float: right;
			height: 100%;
			text-indent: -10000px;
			width: 49%;
		}
			
		a.pp_previous {
			background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
			display: block;
			float: left;
			height: 100%;
			text-indent: -10000px;
			width: 49%;
		}
		
		a.pp_expand,
		a.pp_contract {
			cursor: pointer;
			display: none;
			height: 20px;	
			position: absolute;
			right: 30px;
			text-indent: -10000px;
			top: 10px;
			width: 20px;
			z-index: 20000;
		}
			
		a.pp_close {
			position: absolute; right: 0; top: 0; 
			display: block;
			line-height:22px;
			text-indent: -10000px;
		}
		
		a.pp_viewlarge {
			position:absolute; right: 32px; top: 0;
			display:block;
			line-height:22px;
			text-indent: -10000px;

		}

		.pp_bottom {
			height: 20px;
			position: relative;
		}
			* html .pp_bottom { padding: 0 20px; }
			
			.pp_bottom .pp_left {
				height: 20px;
				left: 0;
				position: absolute;
				width: 20px;
			}
			.pp_bottom .pp_middle {
				height: 20px;
				left: 20px;
				position: absolute;
				right: 20px;
			}
				* html .pp_bottom .pp_middle {
					left: 0;
					position: static;
				}
				
			.pp_bottom .pp_right {
				height: 20px;
				left: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 20px;
			}
		
		.pp_loaderIcon {
			display: block;
			height: 24px;
			left: 50%;
			margin: -12px 0 0 -12px;
			position: absolute;
			top: 50%;
			width: 24px;
		}
		
		#pp_full_res {
			line-height: 1 !important;
		}
		
			#pp_full_res .pp_inline {
				text-align: left;
			}
			
				#pp_full_res .pp_inline p { margin: 0 0 15px 0; }
	
		div.ppt {
			color: #fff;
			display: none;
			font-size: 17px;
			margin: 0 0 5px 15px;
			z-index: 9999;
		}

