a {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

a.hover {
	color: #BB0000;
}

body {
	background-color: #000000;
	color: #A0A0A0;
	font-family: Arial, sans-serif;
}

p {
	color: #A0A0A0;
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	margin-bottom: 0;
	margin-top: 10;
}
